*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    background-color: black;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* o uso da função repeat aqui é para ecomonizar tempo (emoji de fantasminha) */
    grid-template-rows: repeat(3, 1fr);
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 11, 11);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 150px;
    height: 150px;
}

